.nav {
    display: flex;
    gap: 12px;
    padding-left: 32px;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    color: black;
    font-size: larger;
    text-decoration: none;
}

.active {
    color: rgb(255, 0, 72);
    text-decoration: none;
}

.link:hover {
    color: rgb(255, 0, 72);
    text-decoration: underline;
}